astral==3.2
astroid==3.3.11
blinker==1.9.0
cachetools==6.1.0
certifi==2025.8.3
charset-normalizer==3.4.2
click==8.2.1
coverage==7.10.2
dill==0.4.0
Flask==3.1.1
freezegun==1.5.4
hatchling==1.27.0
idna==3.10
iniconfig==2.1.0
isort==6.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mccabe==0.7.0
numpy==2.3.2
packaging==25.0
pathspec==0.12.1
pip==25.1.1
pip-tools==7.4.1
platformdirs==4.3.8
pluggy==1.6.0
Pygments==2.19.2
pylint==3.3.7
pytest==8.4.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
setuptools==80.9.0
six==1.17.0
tomlkit==0.13.3
trove-classifiers==2025.5.9.12
urllib3==2.5.0
waitress==3.0.2
waterstand==1.3.1
Werkzeug==3.1.3
